<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeElapsed</key>
	<integer>0</integer>
	<key>totalKeypresses</key>
	<integer>0</integer>
	<key>previousString</key>
	<string></string>
	<key>previousLength</key>
	<integer>0</integer>
	<key>previousMatches</key>
	<integer>0</integer>
	<key>previousContext</key>
	<string></string>
	<key>bestString</key>
	<string></string>
	<key>bestLength</key>
	<integer>0</integer>
	<key>bestMatches</key>
	<integer>0</integer>
	<key>bestContext</key>
	<string></string>
</dict>
</plist>
